In [13]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
import getCurrentdata

In [14]:
df = pd.read_csv('new.csv')
df = df.dropna()
x_cols = ['Price', 'Open', 'High', 'Low', 'Vol.']
y_cols = ['Class']

In [15]:
df.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %', 'Class'], dtype='object')

In [16]:
df.tail()

            Date  Price  Open  High  Low    Vol.  Change % Class
3680  27/10/2011    3.0   2.8   3.1  2.7   58700      9.75   bad
3681  26/10/2011    2.8   2.8   2.8  2.7   29400      0.00   bad
3682  25/10/2011    2.8   2.5   3.0  2.4  101410      8.63   bad
3683  24/10/2011    2.5   3.2   3.2  2.5   92230    -19.56   bad
3684  23/10/2011    3.2   3.2   3.2  3.0   37040      0.00   bad

In [17]:
y = df[y_cols]
x = df[x_cols]

In [25]:
clf = RandomForestClassifier(random_state=1000).fit(x, y)

/var/folders/23/3sxf7w4956vcps8bsny7xwrc0000gn/T/ipykernel_6155/3027240563.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = RandomForestClassifier(random_state=1000).fit(x, y)

In [24]:
In = getCurrentdata.get_data()
clf.predict([In])[0]

/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

'bad'